.container{
    margin-bottom: 80px;  
}
.orange-bg{
    background-color: #fceae8;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image:linear-gradient(to bottom, #FF589B 0%, #FF136F 100%) ;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat-1{
    background-color: orangered;
}
.cat-2{
    background-color: orchid;
}
.cat-3{
    background-color: blue;
}
.categries{
    color: white;
}
.categries img{
    width: 100px;
}
/*------------- Card ---------------*/
.card{
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.shoes-item{
    color: brown;
}
/*------------ card-footer -----------------*/
.card-footer{
    background-color: white;
    border-top: none;
}

#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
.form-control{
    margin-bottom:10px;
}

footer{
    text-align: center;
}